<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Books</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container text-center">
    <div>
        <h1>List of Borrowed Books</h1>
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Number of copies available</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book: ${listBooks}">
                    <td th:text="${book.id}">Book ID</td>
                    <td th:text="${book.bookName}">Book Name</td>
                    <td th:text="${book.availableCopies}">Number of copies available</td>
                    					<td> <a th:href="@{/returnBook/{id}(id=${book.id})}" class="btn btn-primary">Return</a></td>
                    
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <hr>
		
		<a th:href = "@{/}"> Back to Admin page</a>
</div>
</body>
</html>